*.pid
*.xml
*.csr
*.crt
*.key
2remind
www
OZW_Log.txt
home-assistant.log
home-assistant_v2.db
*.db-journal
lib
deps
tts
secrets.yaml
tradfri.conf
google_calendars.yaml
known_devices.yaml
*.conf
plex.conf
phue.conf
harmony_media_room.conf
emulated_hue_ids.json
pyozw.sqlite
.*
!/.gitignore
